@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@500&display=swap');
/* font popins */
body{
    font-family: 'Patua One', cursive;
font-family: 'Poppins', sans-serif;
background-color:whitesmoke;
}
h1{
    font-size: 40px;
    
}
/* header---- */
header h3{
    padding-left: 70px;
    padding-top: 50px;
    
}
/* top section ---------
---------------------- */
main{
    width: 90%;
    justify-content: center;
    padding-left: 40px;
    margin-left: 30px;
    
}
.display{
    display: flex;
    width: 100%;
}
.content{
    width: 80%;
    padding-right: 20px;
}

.nd-line{
    padding-top:0;
}
.link-button{
    padding: 10px;
    background-color: #E02C6D;
    border-radius: 8px;
    margin-left: 15px;
    color:#F3F1FF;
    font-size: 15px;
    border: 0px;
    transition: padding 1s linear;
}
.link-button:hover{
    font-size: 20px;

    padding:15px ;
    color: black;

}

/* popular colection ----------
------------------ */
.container h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
  
    
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #F2F2F2;
}
.total-info{
    padding: 10px;

    border: white;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    
    
    width: 310px;
}

.star{
    color: gold;
    margin-top: 0;
    font-size: 15px;
   
   margin: 0px;
} span{
    color: black;
}
.info{
   margin-top: 0px;
   margin-bottom: 0px;
   font-size: 12px;
}
.info p{
    
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
}
.button-new{
    text-align:center;
    margin-left: 85%;
    color: #E02C6D;
}
/* optional part -------
---------------- */
.extra-part{
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}
.extra{
    width: 50%;
    margin-top: 40px;
    padding: 15px;
}
.extra-part a{
    text-decoration: none;
    color: black;
   
}
.extra h1{
    margin: 0px;
}
.two{
    background-color: #97BFB4;
    border-radius: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    
}
/* footer part -----
-------------- */
footer{
    text-align: center;
    background-color: #0A043C;
    color: white;
    padding: 15px;
}

/* Media queries -----
---------------
------------- */
/* mobile devices----
------------------- */
@media only screen and (max-width:688px) {
  
        
    
    main{
        width:100%;
       margin-left: 0px;
       padding-left: 10px;
       padding-right: 10px;
       margin-right: 5px;
       
    }
    .camra{
        padding-left: 0px;
    }
    .display{
        display: block;
    }

 
    .content{
        width: 90%;
    }
 
    .button-new{
        margin-left: 65%;
    }
   
    
    
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-left: 30px;
    }
    .extra-part{
        display: block;
        width: 100%;
        padding: 0px;
        margin: 0;
    }
    .extra{
        width: 90%;
      padding-right: 5px;
      padding-right: 5px;
      
    }
    .two{
        width: 90%;
        padding-right: 5px;
      padding-right: 5px;
    }
    footer{
        width: 100%;
    }
   
}
/* table----------
----------------------- */
@media only screen and (min-width:688px) and (max-width:992px){
main{
    width: 100%;
    margin-left: 5px;
}
.camra{
    padding-left: 0px;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
    .button-new{
        margin-left: 75%;
    }
    .two{
        margin-right: 10px;
       margin-left: 0px;
        
    }
    

}